<span class="pull-left right-space" ng-class="{'text-danger':!form.body}">Body</span>
<div id="params-body">
    <textarea name="text" class="pull-left form-control right-space"
              placeholder="Your input text (UTF-8)" ng-model="form.body"></textarea>
    <div closehelp="body" helpvsbl="helpvisible['body']"></div>
    <div id="textareas">
        <div ng-if="form.section=='expressions/bulk'||form.section=='expressions/contexts/bulk'||form.section=='expressions/similar_terms/bulk'" class="clearfix added">
            <textarea ng-repeat="i in txtBodies" name="text{{i}}" class="form-control right-space pull-left" ng-class="{'fade-in':txtFadedIn>=i}" placeholder="Your input text (UTF-8)"></textarea>
        </div>
        <div ng-if="(form.section=='expressions/bulk'||form.section=='expressions/contexts/bulk'||form.section=='expressions/similar_terms/bulk')&&txtFadedIn>1" class="delete-entity command" ng-click="removeTextarea()">
            <div></div>
            <div>Remove text field</div>
        </div>
        <div ng-if="form.section=='expressions/bulk'||form.section=='expressions/contexts/bulk'||form.section=='expressions/similar_terms/bulk'" class="add-entity command" ng-click="addTextarea()">
            <div></div>
            <div>Add text field</div>
        </div>
    </div>
</div>
