html{
    height:100%;
}
body
    >.container:first-child{
    border-bottom: solid 3px rgba(51, 122, 183, 0.65);
    margin-bottom: 20px;
    border: none;
}
body
    >.container:first-child
        nav{
    margin-bottom: 10px;
    min-height: 70px;
}
body
    >.container:first-child
        nav
            h1{
    background-color: white;
    position:relative;
    margin-top: 16px;
}
button[type="submit"]{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 8px 30px;
    background-color: rgba(51, 122, 183, 0.6);
}
nav
    ul.nav
        li
            a{
    display: table-cell;
    vertical-align: middle;
}
main{
    clear: both;
}
nav
    .glyphicon-eye-close{
    font-size:0.9em;
    margin-right: 4px;
}
pre
    section.collapse
        > span:first-child{
    font-size: 1.5em;
    right: -3px;
    top: -32px;
}
pre
    > h4:first-child{
    color: brown;
    cursor: pointer;
    margin-top: 0;
}
section.collapse{
    position: relative;    
}
section.collapse
    > span:first-child{
    background-color: black;
    border-radius: 50%;
    color:white;
    cursor:default;
    display: table-cell;
    font-size: 1.3em;
    height: 21px;
    line-height: 17px;
    opacity: 0.25;
    position:absolute;
    right: 5px;
    text-align: center;
    top: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition:opacity 0.2s ease;
    vertical-align: middle;
    width: 21px;
}
section.collapse
    > span:first-child:hover{
    opacity:1;
}
span.glyphicon.glyphicon-question-sign{
    color: #7AA8D0;
    font-size: 1.3em;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -o-transform: translateY(4px);
    margin-left: 6px;
}

[name="form-api-data"] >.clearfix:first-child{
    min-height:54px;
}

/* -------------------- */
.block{
    display: block;
    float: none;
}
.bs-docs-nav .navbar-toggle .icon-bar{
    background-color: #337AB7;
}
.clearfix{
    clear:both;
}
.clearfix >div{
        max-width:100%;
}
.clearfix
    >div:not(.block){
    float: left;
    margin-bottom:20px;
    margin-right: 20px;
}
.clear-both{
    clear:both;
}
.color-white{
    color: white;
}
.color-header{
    color:#337ab7;
}
.form-control{
    display: inline-block;
    width: auto;
}
.gap-left{
    margin-left:20px;
}
.gap-right{
    margin-right:20px;
}
.overflow-hidden{
    overflow: hidden;
}
.nowrap{
    white-space: nowrap;
}
.navbar-collapse.collapse{
    float: right;
}
.nowrap > span:first-child::after{
    content: ":";
}
.padding-common{
    padding:15px;
}
.pull-left
    textarea{
    height: 109px;
    margin: 0px;
    max-width: 100%;
    width: 600px !important;
}
.right-space{
    margin-right: 4px;
}
.text-danger{
    color:red;
}
.text-accent{
    text-shadow: 2px 0px rgba(0,0,0,1);
}
.visible{
    display: inherit !important;
}
/* -------------------- */
#content-box{
    clear:both;
}
#content{
    min-height: calc(100% - 104px);
    position: relative;
}
#content h2{
    background-color: #A0C1DD;
    border-radius: 4px;
    color: rgb(75, 116, 152);
    font-size: 22px;
    margin-bottom: 28px;
    margin-top: -42px;
    display: table;
    padding: 10px 40px 10px 34px;
}
#content h2 span{
    margin-left: 6px;
}
#content > .row:first-child{
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
}
#data-answer{
    background-color: aliceblue;
    border-radius: 4px;
    padding:15px;
}
#data-answer
    h4{
    font-weight:bold;
}
#data-answer
    > h4:first-child{
    color: #337AB7;
    margin-top:0;
}
#form-main{
    background-color: rgba(51, 122, 183, 0.125);
    border-radius: 4px;
    border: solid 3px rgba(51,122,183,0.15);
    display: table;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}
#help-contents{
    position: fixed;
    bottom:0;
    overflow-y: auto;
    overflow-x: hidden;
    right: 4px;
    max-height: 100%;
    max-width:600px;
    width:100%;
    z-index: 1;
}
#help-contents section.collapse{
    background-color: #7AA8D0;
    border-radius: 4px;
    color: white;
    display: list-item;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s ease;
}
#help-contents section.collapse:hover{
    background-color: #337AB7;
}
#help-contents section.collapse h4{
    font-weight:900;
    margin-top:0;
}
#help-contents section.visible{
    display: block !important;
    height: auto;
    margin-bottom: 1px;
    opacity: 1;
    padding: 15px;
    transition: opacity 0.3s ease;
}
#illustration{
    background-image: url(../images/pride-prejudice-color-closeup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.35;
    position: absolute;
    right: 0;
    top: 47px;
    bottom: 4px;
    left: 50%;
    z-index: -1;
}
#params-body{
    width: 100%;
}
#powered{
    bottom: -14px;
    color: #999;
    font-size: 0.35em;
    right: -55px;
    position: absolute;
    white-space: nowrap;
}
#pre-raw-data{
    margin-top:15px;
}
textarea[name="body"]{
    float: left;
    width: calc(100% - 24px) !important;
    max-width: 600px !important;
}
#top-menu{
    transform: translateY(16px);    
}
#video-lead{
    border: solid 1px rgb(122, 168, 208);
    max-width: 100%;
}
#visual-circuits{
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    opacity: 0.1;
    right: 0;
    bottom: -11px;
    z-index: -1;
}
/* by sections */
#section-Home h1.main-header{
    margin-bottom: 26px;
    overflow: hidden;
}
#section-Home h1.main-header .pull-right{
    /* margin-right: 24px; */
    font-size: 26px;
}
/* media queries */
@media (max-width:1023px){
    #top-menu>li>a{
        padding-left: 8px !important;
        padding-right: 8px !important;
        display: block;
    }
}
@media (max-width:767px){
    .bs-docs-nav>h1{
        font-size: 2.7rem;
        position: absolute !important;
        top: 0;
    }
    .navbar-collapse.collapse, #top-menu{
        float: left;
        padding-left: 0;
        width: 100%;
    }
    #top-menu{
        margin-top: 10px;
        transform: translateX(-15px);
    }
    body > .container{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width:399px){
    .nowrap > span:first-child{
        display: block;
    }
    .form-control{
        padding-left: 0;
    }
    #params-body{
        clear: both;
        float: none;
    }
}
@media (min-width:400px){
    #params-body{
        float: left;
        max-width: calc(100% - 70px);
    }
    textarea[name="body"]{
        width: 100%;
    }
}