<form ng-model="formForm" id="form-main" class="form-inline" name="form-api-data" method="post" ng-submit="getRetinaData($event)">
    <div class="clearfix">
        <h2>Section: <span class="color-white">{{title}}</span></h2>
        <div ng-include="'app/templates/subtemplates/select-subsection.html'"
             ng-if="endpoint=='term'||endpoint=='expression'||endpoint=='compare'||endpoint=='image'||endpoint=='text'"
             class="nowrap"></div>
        <div ng-include="'app/templates/subtemplates/term.html'" ng-if="endpoint=='term'" class="nowrap"></div>
    </div>
    <div class="clearfix">
        <div ng-include="'app/templates/subtemplates/response-content-type.html'" class="nowrap"></div>
        <div ng-include="'app/templates/subtemplates/retina-name.html'" class="nowrap"
             ng-if="form.section!='text/detect_language'"></div>
        <div ng-include="'app/templates/subtemplates/filter-name.html'" ng-if="endpoint=='classify'" class="nowrap"></div>
    </div>
    <div ng-include="'app/templates/subtemplates/textarea.html'" class="clearfix nowrap" id="textarea-container"
         ng-if="endpoint=='text'||endpoint=='expression'||endpoint=='compare'||endpoint=='image'||endpoint=='classify'"></div>
    <div ng-include="'app/templates/subtemplates/postags.html'" class="clearfix nowrap" ng-if="form.section=='text/tokenize'"></div>
    <main>
        <endpoint id="endpoint-api_params">
            <div class="clearfix">
                <div ng-include="'app/templates/subtemplates/context-id.html'" class="nowrap" ng-if="form.section=='terms/similar_terms'||form.section=='expressions/similar_terms'||form.section=='expressions/similar_terms/bulk'"></div>
            </div>
            <div class="clearfix" ng-if="endpoint=='term'||endpoint=='text'||endpoint=='expression'||endpoint=='image'">
                <div ng-include="'app/templates/subtemplates/start-index.html'"
                     ng-if="endpoint=='term'||form.section=='text/slices'||form.section=='expressions/contexts'||form.section=='expressions/similar_terms'||form.section=='expressions/contexts/bulk'||form.section=='expressions/similar_terms/bulk'"
                     class="nowrap"></div>
                <div ng-include="'app/templates/subtemplates/max-results.html'"
                     ng-if="endpoint=='term'||form.section=='text/slices'||form.section=='expressions/contexts'||form.section=='expressions/similar_terms'||form.section=='expressions/contexts/bulk'||form.section=='expressions/similar_terms/bulk'"
                     class="nowrap"></div>
                <div ng-include="'app/templates/subtemplates/pos-type.html'"
                     ng-if="form.section=='terms/similar_terms'||form.section=='expressions/similar_terms'||form.section=='expressions/similar_terms/bulk'"
                     class="nowrap"></div>
                <div ng-include="'app/templates/subtemplates/get-fingerprint.html'"
                     ng-if="endpoint=='term'||form.section=='text/slices'||form.section=='expressions/contexts'||form.section=='expressions/similar_terms'||form.section=='expressions/contexts/bulk'||form.section=='expressions/similar_terms/bulk'||form.section=='image/bulk'"
                     class="nowrap"></div>
            </div>
            <div class="clearfix">
                <div ng-include="'app/templates/subtemplates/image-scalar.html'" class="nowrap"
                     ng-if="endpoint=='image'"></div>
                <div ng-include="'app/templates/subtemplates/plot-shape.html'" class="nowrap"
                     ng-if="endpoint=='image'"></div>
                <div ng-include="'app/templates/subtemplates/image-encoding.html'" class="nowrap"
                     ng-if="endpoint=='image'||form.section=='image'||form.section=='image/compare'"></div>
                <div ng-include="'app/templates/subtemplates/sparsity.html'" class="clearfix nowrap"
                     ng-if="endpoint=='expression'||form.section=='text/bulk'||form.section=='image'||form.section=='image/bulk'"></div>
            </div>
        </endpoint>
        <div ng-include="'app/templates/help-contents.html'" id="help-contents"></div>
    </main>
    <input type="hidden" name="option" value="{{endpoint}}">
    <br>
    <button type="submit" class="btn" ng-disabled="!(form.body&&form.section&&form.filterName&&!form.termReq)">Get data!</button>
</form>
<div class="bg-info padding-common pull-left table">
    <div ng-repeat="(formField, formVal) in form" tr>
        <span td><b>{{formField}}</b>:</span>
        <span td>{{formVal}}</span>
    </div>
</div>