<div class="pull-left clearfix">
    <h1 class="main-header">
        <div class="pull-left clearfix">Semantic text analysis</div>
        <div class="pull-left clearfix">is <span class="text-accent">already</span> <span class="color-header">here</span>.</div>
        <div class="pull-right clearfix">See how it works</div>
    </h1>
    <iframe id="video-lead" width="560" height="315" src="https://www.youtube.com/embed/g3ZxJokDpds" frameborder="0" allowfullscreen></iframe>
    <br><br>
    <p><a href="https://github.com/cortical-io/RetinaSDK.js">RetinaSDK.js API</a></p>
</div>